.Notifications {
    border: 2px dashed red;
    padding: 5px;
    width: 30%;
    position: fixed;
    right: 0;
    top: 4%;
    margin-right: 10px;
}

.Notifications p {
    margin: 0;
    width: 100%
}

.Notifications ul {
    margin: 1px
}

.menuItem {
    position: fixed;
    right: 0;
    padding-right: 10px;
}

[data-notification-type="default"]{
    color: darkblue;
}

[data-notification-type="urgent"]{
    color: red;
}
