.Notifications {
    border: 2px dashed red;
    padding: 0 5px;
    width: 30%;
    position: fixed;
    right: 0;
    top: 4%;
}

.menuItem {
    position: fixed;
    right: 0;
    padding-right: 10px;
}

[data-notification-type="default"]{
    color: darkblue;
}

[data-notification-type="urgent"]{
    color: red;
}
